
.vs/Multithreaded-Server/FileContentIndex/022863e8-bb3b-499d-91fb-9754f0d56cc8.vsidx
.vs/Multithreaded-Server/FileContentIndex/9dd78aa1-d5c9-42d4-9abd-86d647f1a5d5.vsidx
.vs/Multithreaded-Server/FileContentIndex/a6ca8a78-5419-47d9-a3fc-723b9dceeb89.vsidx
.vs/Multithreaded-Server/FileContentIndex/fb1996c8-a2fa-4a6a-ae4c-f6f4e542e8ad.vsidx
.vs/Multithreaded-Server/FileContentIndex/read.lock
.vs/Multithreaded-Server/v17/.wsuo
.vs/Multithreaded-Server/v17/Browse.VC.db
.vs/Multithreaded-Server/v17/Browse.VC.db-shm
.vs/Multithreaded-Server/v17/Browse.VC.db-wal
.vs/Multithreaded-Server/v17/Browse.VC.opendb
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Multithreaded-Server/FileContentIndex/4a607b29-fb76-4aa9-b743-1ce708987568.vsidx
*.vsidx
.vs/Multithreaded-Server/v17/ipch/AutoPCH/47e6f0ce2d25cae5/CLASSSERVER.ipch
